<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAS2TDPaJDgEOnvrrD75pqQAAAAAACAAAAAAAQZgAAAAEAACAAAADlUweltbnl1vIQyvUuo587O8vXG9kA5Hz9a5QJqc9I6QAAAAAOgAAAAAIAACAAAACWPP3q3ZhvC0XWfgJ2Y0wJGyhnBuzR4Y9ipJbevj0hUTAAAAD/fEBYZw8HrrwhjjAEWMWu84qod1oyLc4FTzvAfwwnGuceWk47a1KaRy/SbLJemk1AAAAAQtR9MXNx6JhfMK5/b/E3k76MwYvQ3yA4w8o/358v9b/1S3HE+mSdXbbzr16x1NN32/ncDygCJ3MIoRoNcHxbEA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAS2TDPaJDgEOnvrrD75pqQAAAAAACAAAAAAAQZgAAAAEAACAAAAC2Bobzu7pPZieMpU73W+x3yRRwJZR4ou0inUgGzXAFrAAAAAAOgAAAAAIAACAAAAAZZ7PrNnuwoX10o0yZEW9+48/D0sBh/l2RyFcVV7DOaTAAAADBYVTOT4LAl9uKD6qeMAQTHMQ0djQ+bGhC0b1BybqeYjCdhGvwfZ3KpPBau6a4zpNAAAAAj1vEFeVIRY5SiBhPEcVz2nbdGlXqFyxLceYa4bjsMFcZdXo1UooqvqMEEv1aeXOSYiQujV8nocm3mWumm1MtQQ==" />
  </apikeys>
</configuration>